# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing heroku commands
/node-js-getting-started

# testing mongoose commands
mongoose.js
mongo.js

# misc
.env
.eslintignore
